<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% set navlist = [
        ('/', 'index', 'Index'),
        ('/user', 'user', 'Profil'),
        ('/user/task', 'task', 'Mes Tâches')
    ] -%}
    <nav>
        <ul>
        {% for href , id, caption in navlist %}
        <li> <a id="{{ id|e }}" href="{{ href|e }}">{{ caption|e }}</a> </li>
        {% endfor %}
        </ul>
    </nav>
    <p>
        <h1>{{title}}</h1>
        {% if g.user %}
            <p> Bienvenue, {{ g.user }} !</p>
            <form method="post" action="{{ url_for('view_sign_out_user') }}" class="inline">
              <input type="hidden" name="extra_submit_param" value="extra_submit_value">
              <button type="submit" name="submit_param" value="submit_value" class="link-button">
                SignOut
              </button>
            </form>
        {% endif %}
    </p>
</body>
</html>